
	<div class="ui violet segment">
		
      <a class="ui red ribbon label">Overview</a>
	  
		<div class="ui list">
		
            <a class="item">
                <div class="header right floated" id="report_created"></div>
                <div class="content">
                <div class="description">
                    <i class="clock icon"></i>
                    Views
                </div>
                </div>
            </a>
		
            <a class="item">
                <div class="header right floated" id="last_active"></div>
                <div class="content">
                <div class="description">
                    <i class="history icon"></i>
                    Active
                </div>
                </div>
            </a>
		
            <a class="item">
                <div class="header right floated" id="author_earnings"></div>
                <div class="content">
                <div class="description">
                    <i class="money icon"></i>
                    Author
                </div>
                </div>
            </a>
		
            <a class="item">
                <div class="header right floated" id="contributors_earnings"></div>
                <div class="content">
                <div class="description">
                    <i class="money icon"></i>
                    Contributors
                </div>
                </div>
            </a>
		
            <a class="item" title="Views on other Steem clients not factored">
                <div class="header right floated" id=""><%= data.view_count %></div>
                <div class="content">
                <div class="description">
                    <i class="eye icon"></i>
                    Views
                </div>
                </div>
            </a>
		
            <a class="item" title="Report's associated project" target="_blank" href="/project/<%= data.project_slug_id %>">
                <div class="header right floated" id=""><%= data.project_title %></div>
                <div class="content">
                <div class="description">
                    <i class="coffee icon"></i>
                    Affiliation
                </div>
                </div>
            </a>
		
		</div>
        
	</div>
	
	
	<div class="ui purple segment" id="featured-reports-section" style="display:none">
	
    <a class="ui red ribbon label" target="_blank" href="/project/<%= data.project_slug_id %>/reports">Related</a>
	<div class="ui feed" id="featured_reports">
	</div>
	
	</div>
	
	
	<div class="ui pink segment" id="from-blog" style="display:none">
	
      <a class="ui red ribbon label" href="/peer/peerquery" target="_blank">Our blog</a>
		<br/><br/>
		<div id="last-blog-post">		</div>
		<br/>
		<a href="https://discord.gg/rz9GwAa" class="positive fluid ui button" target="_blank">We're recruiting, join us!</a>
	
	</div>
	
	
	<!--
    
	<div class="ui fluid card">
		<div class="content">
			<div class="center aligned header">Delegate SP to Peer Query</div>
			<div class="center aligned description">
				<p>Help Peer Query reward quality contributors.</p>
			</div>
		</div>
		
		<div class="extra content">
			<div class="center aligned author">
				<p>Earn high ROI on your investment.</p>
			</div>
		</div>
		<a class="ui green bottom attached button" href="/partner-with-us">
			<i class="play icon"></i>
			Learn more
		</a>
	</div>
	
    -->
    
    
	<script>window.project_slug_id = "<%= data.project_slug_id %>"</script>
	